/*=====================================================================
Font
=====================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Serif+Pro&display=swap');

/*=====================================================================
ALl
=====================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*=====================================================================
Cover
=====================================================================*/

.bg-header {
  background-image: url(../img/cover-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-header h1,
.bg-header h2 {
  color: #edf2f4;
  text-shadow: 2px 2px#d90429;
  font-family: 'Dancing Script', cursive;
}

.bg-header h1 {
  font-size: 3em;
}
.bg-header h2 {
  padding-top: 400px;
  font-size: 2em;
}

/*=====================================================================
Pengantin
=====================================================================*/

.pengantin {
  margin-top: 80px;
}
.pengantin img {
  width: 300px;
}

.pengantin p {
  font-size: 25px;
  line-height: 20px;
}

.nama-pengantin {
  margin-top: 20px;
  font-family: 'Playfair Display', serif;
}

.nama-ortu {
  margin-bottom: 20px;
}

/*=====================================================================
Acara
=====================================================================*/

.acara {
  /* The image used */
  background-image: url(../img/bg-acara-mobile.jpg);
  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-acara {
  padding: 30px;
  background-color: #edf2f4;
  /* border-radius: 20px; */
  opacity: 0.8;
  min-height: 80vh;
  padding-top: 60px;
}

.detail-acara h2 {
  font-family: 'Dancing Script', cursive;
  line-height: 30px;
}
.detail-acara h5 {
  /* font-family: 'Dancing Script', cursive; */
  font-weight: 500;
  line-height: 30px;
}

/*=====================================================================
Coundown Time
=====================================================================*/

.coundown-time {
  margin-bottom: 80px;
}

.countdown div {
  position: relative;
  width: 70px;
  height: 70px;
  line-height: 60px;
  text-align: center;
  background: #ef233c;
  color: #fff;
  margin: 0 10px;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 50px;
  border-radius: 5px;
}

.countdown div::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 35px;
  background: #d90429;
  color: #edf2f4;
  font-size: 0.57em;
  line-height: 35px;
  font-weight: 400;
}

.countdown #hari::before {
  content: 'Hari';
}
.countdown #jam::before {
  content: 'Jam';
}
.countdown #menit::before {
  content: 'Menit';
}
.countdown #detik::before {
  content: 'Detik';
}

/*=====================================================================
Peta Lokasi
=====================================================================*/
.peta {
  background-color: #8d99ae;
}
.btn-peta {
  margin-bottom: 30px;
}

.maps {
  border-radius: 20px;
  outline: #2b2d42 solid 10px;
}

/*=====================================================================
Galeri foto
=====================================================================*/

.image-slider img {
  width: 450px;
  padding-top: 20px;
  margin: auto;
}

.galeri-foto {
  margin: 50px 0px;
}

/*=====================================================================
Audio
=====================================================================*/

#icon {
  width: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

/*=====================================================================
General
=====================================================================*/

.dekor img {
  margin-top: 50px;
  width: 300px;
}
.btn {
  background-color: #2b2d42;
  color: #edf2f4;
}

/*=====================================================================
Medium devices (tablets, 768px and up)
=====================================================================*/

@media (min-width: 768px) {
  /*=====================================================================
  content
  =====================================================================*/

  .bg-header {
    /*  The image used  */
    background-image: url(../img/cover.jpg);
    background-attachment: fixed;
  }
  .bg-header h1,
  .bg-header h2 {
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  .bg-header h1 {
    font-size: 72px;
  }
  .bg-header h2 {
    padding-top: 400px;
  }
  .acara {
    background-image: url(../img/backgound-acara.jpg);
    background-attachment: fixed;
  }
  .image-slider img {
    width: 350px;
  }
}
