/*=====================================================================
Font
=====================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Serif+Pro&display=swap');

/*=====================================================================
ALl
=====================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
}
/*=====================================================================
Opening
=====================================================================*/
.wrapper-cover {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url(../img/cover-mobile.jpg);
  background-size: cover;
}
.dekor-cover img {
  width: 99%;
  margin-top: 85%;
  margin-bottom: -118%;
}
.bg-header-cover {
  background-color: rgba(255, 255, 255, 0.5);
  /* background-blend-mode: normal; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.bg-header-cover h1,
.bg-header-cover h2 {
  color: #edf2f4;
  text-shadow: 2px 2px#d90429;
  font-family: 'Dancing Script', cursive;
}

.bg-header-cover h1 {
  font-size: 3em;
}
.bg-header-cover h2 {
  padding-top: 400px;
  font-size: 2em;
}

@media (min-width: 768px) {
  /*=====================================================================
  opening
  =====================================================================*/
  .wrapper-cover {
    background-image: url(../img/cover.jpg);
    background-attachment: fixed;
  }
  .bg-header-cover {
    /*  The image used  */
    background-color: rgba(255, 255, 255, 0.5);
    background-attachment: fixed;
  }
  .bg-header-cover h1,
  .bg-header-cover h2 {
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  .bg-header-cover h1 {
    font-size: 120px;
  }
  .bg-header-cover h2 {
    padding-top: 400px;
  }
  .dekor-cover img {
    width: 50%;
    margin-top: 29%;
    margin-bottom: -32%;
  }
}
